.banner {
    display: grid;
    grid-auto-columns: 80%;
    justify-items: center;
    justify-content: center;
    gap: 2.5em;

    text-align: center;

    padding-block: 3.25em;
}

@media (min-width: $bp-medium) {
    .banner {
        grid-auto-columns: 50%;

        padding-block: 6em;
    }
}