.reviews {
    display: grid;
    gap: 18px;
}

.review {
    display: grid;
    align-content: space-between;
    gap: 3.5em;

    background-color: $beige-200;

    padding: 1.25em;

    &__text {
        font-weight: 700;

        & > :not(:last-child) {
            margin-bottom: 1.3em;
        }
    }

    &__author {
        display: grid;
        row-gap: 0.5rem;
        grid-template-columns: auto min-content;
        grid-template-rows: min-content min-content;
    }

    &__tour {
        color: $gray-300;
        letter-spacing: -0.01em;
    }
}

.author {
    &__avatar {
        grid-column-start: 2;
        grid-row: 1 / span 2;
        border-radius: 100px;
    }
}

@media (min-width: $bp-medium) {
    .reviews {
        grid-template-columns: 1fr 1fr;
    }

    .review {
        padding: 2em;

        &__text {
            font-size: 1.15em;
            line-height: 1.2;
        }

        &__tour {
            font-size: calc(1rem + 1px);
        }
    }
}

@media (min-width: $bp-medium) {
    .reviews {
        gap: 1.5em;
    }
}