@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/src/assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf");
}
