@import './review';
@import './_author';

.reviews {
    &__list {
        display: grid;

        gap: 1.125rem;
    }
}

@media (min-width: $bp-medium) {
    .reviews {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width: $bp-big) {
    .reviews {
        &__list {
            gap: 1.5em;
        }
    }
}