@import './_row';

.gallery {
    padding-inline: 1.25rem;
    
    &__list {
        display: grid;
        justify-items: center;
        gap: 1.125em;
    }


    &__photo {
        width: 100%;
        height: inherit;

        object-fit: cover;
    }
}

@media (min-width: $bp-medium) {
    .gallery {
        &__list {
            row-gap: 1.5em;
            column-gap: 1em;
        }
    }
}

@media (min-width: $bp-big) {
    .gallery {
        padding-inline: 1.5em;

        &__list {
            row-gap: calc(1.5em + 3px);
        }
    }
}