@import './logo';
@import './nav';
@import './__fixed/_fixed';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 2em;
}


@media (min-width: $bp-medium) {
    .navbar {
        padding-block: 1.4em;
    }
}