.tours {
    &__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.625em;
        padding-block: 0.625em 0;
    }
}

@media (min-width: $bp-medium) {
    .tours {
        &__nav {
            gap: 1.5em;
            padding-block: 0.25em;
        }
    }
}
