.stories {
    &__list {
        display: grid;
        gap: 1.25em;

        & > :nth-child(1)::after {
            background-image: $grad, url("/src/assets/images/story-1.jpg");
        }

        & > :nth-child(2)::after {
            background-image: $grad, url("/src/assets/images/story-2.jpg");
        }

        & > :nth-child(3)::after {
            background-image: $grad, url("/src/assets/images/story-3.jpg");
        }
    }
}

@media (min-width: $bp-medium) {
    .stories {
        &__list {
            gap: 2.5em;
        }
    }
}
