.form {
    &__input[type='date'] {
        position: relative;

        appearance: none;

        text-transform: uppercase;

        &:required:invalid {
            color: $gray-300;
        }

        &::-webkit-calendar-picker-indicator {
            position: absolute;

            z-index: 1;

            width: 100%;
            height: 100%;

            background: none;

            cursor: pointer;
        }

        &:invalid {
            &::after {
                position: relative;

                left: 0;
                
                display: block;

                content: 'ДД.ММ.ГГГГ';
            }

            &::-webkit-datetime-edit {
                display: none;
            }
        }

        &:valid {
            &::after {
                display: none;
            }

            &::-webkit-datetime-edit {
                display: block;
            }
        }
    
    }
}