.form {
    &__radios__wrapper {
        display: flex;

        gap: 1.875em;
    }

    &__radio {
        display: none;

        &__label {
            display: flex;

            gap: 0.625em;

            cursor: pointer;
        }

        &__pseudo {
            display: flex;

            justify-content: center;
            align-items: center;

            width: 1.25em;
            height: 1.25em;

            border: 2px solid $black;
            border-radius: 100%;

            .bullet {
                display: none;

                width: 0.625em;
                height: 0.625em;

                background-color: $black;

                border-radius: 100%;
            }
        }

        &:checked {
            & + .form__radio__pseudo {
                .bullet {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: $bp-medium) {
    .form {
        &__radios__wrapper {
            gap: calc(1.5em + 1px);
        }
    
        &__radio {
    
            &__label {
                gap: calc(0.5em + 1px);
            }
    
            &__pseudo {
                width: 1.3em;
                height: 1.3em;
    
                .bullet {
                    width: 0.6em;
                    height: 0.6em;
                }
            }
        }
    }
}