@import './_select';
@import './_inputDate';
@import './_radio';
@import './_checkbox';

.form {
    display: grid;

    gap: 1.875em;

    background-color: $white;

    padding: 1.25em;
    margin: 0;

    &__label {
        display: grid;
        gap: 0.5em;
    }

    &__input,
    &__select,
    &__textarea {
        font: inherit;

        width: 100%;

        background-color: $beige-100;

        outline: none;

        border: 1px solid $beige-200;
        border-radius: 0.625em;

        transition: 0.3s;

        padding: 0.625em;
        margin: 0;

        &::placeholder {
            color: $gray-300;
        }

        &:hover,
        &:focus {
            background-color: $beige-200;
        }

        &:focus {
            border-color: $gray-300;
        }
    }

    &__textarea {
        resize: none;

        height: 8.25em;
    }

    &__buttons {
        display: flex;
        gap: 0.625em;
    }
}

@media (min-width: $bp-medium) {
    .form {
        grid-template-columns: 1fr 1fr;

        column-gap: 1em;
        row-gap: calc(1.5em + 3px);

        padding: 3em;

        &__label__comment,
        &__radios,
        &__label__license,
        &__buttons {
            grid-column: 1 / span 2;
        }

        &__input,
        &__select,
        &__textarea {
            padding: 1em;    
        }

        &__textarea {
            height: 9.5rem;
        }

        &__buttons {
            gap: 1.5em;
        }
    }
}

@media (min-width: $bp-big) {
    .form {
        column-gap: 1.5em;

        padding: 3.5em;
    }
}