.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    padding-block: 25px;

    &__title {
        margin-inline: auto;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-inline: auto;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        gap: 5px;

        &:nth-child(1)::before {
            background-image: url('/src/assets/svg/instagram.svg');
        }

        &:nth-child(2)::before {
            background-image: url('/src/assets/svg/facebook.svg');
        }

        &:nth-child(3)::before {
            background-image: url('/src/assets/svg/vk.svg');
        }

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: right 2px center;
        }
    }


}

@media (min-width: $bp-medium) {
    .socials {
        gap: 25px;
        padding-block: 30px;

        &__title {
            margin-inline: 0;
        }

        &__list {
            gap: 25px;

            margin-inline: 0;
        }

        &__item {
            gap: 10px;

            &::before {
                width: 26px;
                height: 26px;
            }
        }
    }
}
