.button__find {
    padding: 5px 20px;

    &:hover,
    &:focus {
        color: $white;

        background-color: $orange-200;
    }

    &:active {
        color: $black;

        background-color: $orange-100;
    }
}