.button {
    font: inherit;
    color: inherit;

    border: none;
    background-color: transparent;

    transition: 0.3s;

    cursor: pointer;

    padding: 0;

    &__simp {
        width: 134px;

        border-radius: 10px;
        padding: 12px;

        &_green {
            color: $white;
            background-color: $green-400;
    
            &:hover {
                background-color: $green-300;
            }
    
            &:active {
                background-color: $green-200;
            }
        }

        &_lightgreen {
            color: $green-400;
            background-color: $green-100;

            &:hover {
                background-color: $gray-100;
            }
    
            &:active {
                background-color: $gray-200;
            }
        }
    }

    &__details {
        display: flex;
        align-items: center;

        gap: 15px;
        position: relative;

        font-weight: 700;

        border-radius: 50px;

        padding: 7px 20px;

        &::after {
            position: relative;

            display: block;

            content: '';

            width: 26px;
            height: 26px;

            background-image: url('/src/assets/svg/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }

        &:hover {
            background-color: $green-400;
        }

        &:active {
            background-color: $orange-200;
        }
    }
}

@media (min-width: $bp-medium) {
    .button {
        &__simp {
            width: 235px;
            padding: 15px;
        }

        &__details {
            font-size: 23px;
        }
    }
}