@import './__card';
@import './_find';

.button {
    font-family: inherit;

    border: none;
    background-color: transparent;

    transition: 0.3s;

    cursor: pointer;

    &_bg {
        &_white {
            background-color: $white;
        }
    }
    &_br {
        &_10 {
            border-radius: 10px;
        }
    }
    &_f {
        &_small {
            @extend .p_small;
        }
    }

    &_col {
        &_black {
            color: $black;
        }
    
        &_white {
            color: $white;
        }
    
        &_gray {
            color: $gray-300;
        }
    
        &_green {
            color: $green-400;
        }
    
        &_orange {
            color: $orange-200;
        }
    }

    &__simp {
        width: 134px;

        border-radius: 10px;
        padding: 12px;

        &_green {
            color: $white;
            background-color: $green-400;
    
            &:hover {
                background-color: $green-300;
            }
    
            &:active {
                background-color: $green-200;
            }
        }

        &_lightgreen {
            color: $green-400;
            background-color: $green-100;

            &:hover {
                background-color: $gray-100;
            }
    
            &:active {
                background-color: $gray-200;
            }
        }
    }
}

@media (min-width: $bp-medium) {
    .button {
        &__simp {
            width: 235px;
            padding: 15px;
        }
    }
}