.link {
    position: relative;

    color: inherit;
    text-decoration: none;

    outline: none;

    &::after {
        position: absolute;

        height: 2px;

        content: '';

        left: 50%;
        bottom: -6px;

        transform: translateX(-50%);
    }

    &_active {
        color: $orange-200;

        &::after {
            width: 100%;

            background-color: $orange-200;
        }
    }

    &_white {
        color: $white;

        &::after {
            background-color: $white;
        }
    }

    &_black {
        color: $black;

        &::after {
            background-color: $black;
        }
    }

    &:hover,
    &:focus {
        &::after {
            animation: link-hover 0.3s ease forwards;
        }
    }
}

@keyframes link-hover {
    from {
        width: 0%;
    } 
    to {
        width: 100%;
    }
}