.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 1.875rem;

    text-align: center;

    &__img {
        width: 130px;
    }

    &__body {
        display: grid;
        gap: 20px;
    }

}


@media (min-width: 1024px) {
    .cta {
        text-align: left;
        
        &__img {
            width: 18.5em;
        }
    }
}