.form {
    &__label {
        display: grid;
        gap: 0.5rem;
    }

    &__input,
    &__select,
    &__textarea {
        font: inherit;

        width: 100%;

        background-color: $beige-100;

        outline: none;

        border: 1px solid $beige-200;
        border-radius: 0.625rem;

        transition: 0.3s;

        padding: calc(0.625em - 1px);
        margin: 0;

        &::placeholder {
            color: $gray-300;
        }

        &:hover,
        &:focus {
            background-color: $beige-200;
        }

        &:focus {
            border-color: $gray-300;
        }
    }

    &__textarea {
        resize: none;

        height: 8.25em;
    }

    &__buttons {
        display: flex;
        gap: 0.625em;
    }
}

@media (min-width: $bp-medium) {
    .form {
        &__label__comment,
        &__radios,
        &__label__wrapper,
        &__buttons {
            grid-column: 1 / span 2;
        }

        &__input,
        &__select,
        &__textarea {
            padding: calc(1em - 1px);    
        }

        &__textarea {
            height: 9.5rem;
        }

        &__buttons {
            gap: 1.5em;
        }
    }
}
