.form {
    &__input[type="date"] {
        position: relative;
        appearance: none;
        text-transform: uppercase;

        &:required:invalid {
            color: $gray-300;
        }

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: none;
            cursor: pointer;
        }

        &:invalid {
            &::after {
                position: absolute;
                left: 0;
                display: block;
                content: "ДД.ММ.ГГГГ";
                padding: inherit;
            }

            &::-webkit-datetime-edit {
                visibility: hidden;
            }
        }

        &:valid {
            &::after {
                display: none;
            }

            &::-webkit-datetime-edit {
                visibility: visible;
            }
        }
    }
}
