.br {
    &_20to50 {
        border-radius: 1.25rem;
    }
}

@media (min-width: $bp-medium) {
    .br {
        &_20to50 {
            border-radius: 3.125rem;
        }

        &_10 {
            border-radius: 0.625rem;
        }
    }
}
