@import './mod';
@import './__card';
@import './__find';
@import './__form';

.button {
    font-family: inherit;

    border: none;

    outline: none;

    transition: 0.3s;

    cursor: pointer;
}

