@import "./body/body";
@import "./buttons/buttons";
@import "./header/header";
@import "./main/main";
@import "./footer/socials";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-block-start: 100px;
}
