.button__card {
    display: grid;
    align-content: space-between;

    position: relative;

    overflow: hidden;

    @extend .border-rad;

    cursor: pointer;

    &__header {
        display: grid;

        text-align: left;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        position: relative;

        left: calc(-1em + 3px);
        bottom: -0.5rem;

        @extend .p-big;

        display: flex;
        align-items: center;
        gap: 15px;

        border-radius: 3.125rem;

        padding: 0.5rem calc(1em - 3px);

        &::after {
            position: relative;
    
            content: '';
    
            width: 24px;
            height: 26px;
    
            background-image: url('/src/assets/svg/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }

    &::after {
        position: absolute;

        top: 0;
        left: 0;

        z-index: -1;

        width: 100%;
        height: 100%;

        content: '';

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        transition: 0.3s ease;
        }
    }

.button__card {
    &:hover::after {
        transform: scale(1.2);
    }

    &:hover &__link {
        background-color: $green-400;

        &:active {
            background-color: $orange-200;
        }
    }
}
