* {
    box-sizing: border-box;
}


.body {
    font-size: 16px;
    line-height: 1.45;

    font-family: 'Roboto', sans-serif;
}

.section {
    padding-block: 75px;

    &__header {
        text-align: center;
    }
}

.list {
    list-style: none;
}

.border-rad {
    border-radius: 20px;
}

.d-s-none {
    display: none;
}

.d-s-block {
    display: block;
}


@media (min-width: $bp-medium) {
    .body {
        font-size: 20px;
    }

    .section {
        padding-block: 135px;
    }

    .border-rad {
        border-radius: 50px;
    }

    .d-m-none {
        display: none;
    }

    .d-m-block {
        display: block;
    }
}

@media (min-width: $bp-big) {
    .d-l-none {
        display: none;
    }

    .d-l-block {
        display: block;
    }
}