.banner {
    display: grid;
    grid-auto-columns: 80%;
    justify-items: center;
    justify-content: center;
    gap: 2.5em;
    text-align: center;
    padding-top: 3.25em;
    padding-bottom: 3.25em;
}

@media (min-width: $bp-medium) {
    .banner {
        grid-auto-columns: 50%;
        padding-top: 6em;
        padding-bottom: 6em;
    }
}