.stories {
    &__list {
        display: grid;
        gap: 1.25em;

        & > :nth-child(1)::after {
            background-image: $grad, url('/src/assets/images/story-1.jpg');
        }
    
        & > :nth-child(2)::after {
            background-image: $grad, url('/src/assets/images/story-2.jpg');
        }
    
        & > :nth-child(3)::after {
            background-image: $grad, url('/src/assets/images/story-3.jpg');
        }
    }
}

.story {
    height: 455px;

    color: $white;

    padding: 30px;

    &__header {
        gap: 20px;

        max-width: 29em;
    }

}

@media (min-width: $bp-medium) {
    .stories {
        &__list {
            gap: 2.5em;
        }
    }

    .story {
        gap: 37px;

        height: 567px;

        padding: 3em;
    }
}